/////colors/////
$color_tile: gray;
$color_tile_clicked: lightgray;
$color_tile_clicked_mine: red;
$color_tile_testing_mine: hotpink;


body{
  margin: 20px;
}

//////game board///////////
.gameBoard {
  width: 100%;
  height: 40vh;
  border:1px solid;
  display: grid;
  grid-gap: 1px;
  //grid-template-columns: 2;
  grid-template-rows: 5%, 95%; 
}

.headingBar{
  display: grid;
  grid-template-columns: 3;
  
}

.mineField{
  // width: 100%;
  // height: 40%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

///////board tiles//////
.tiles{
  display: grid;
  background-color: $color_tile;
  width: 100%;
  height: 100%;
  border:1px solid;

  &_empty{
    
  }

  &_empty-clicked{
    background-color: $color_tile_clicked;
  }

  &_mine{
    background-color: $color_tile_testing_mine; //TODO - $color_tile;
  }

  &_mine--clicked{
    background-color: $color_tile_clicked_mine;
  }

  &_mine--show{
    background-color: $color_tile_clicked;
  }

  &_flag{
    background-color: $color_tile_clicked;
  }

  &_number{
    background-color: $color_tile_clicked;
  }    
}

.number{
  font-weight: bold;

  &--1{
    color: blue;

  }

  &--2{
    color: green;
  }

  &--3{
    color: red;
  }

  &--4{
    color: darkblue;
  }

  &--5+{
    color: darkred;
  }

}
