<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Minesweeper - Sam Gay</title>
  <link rel="icon" type="image/gif/png" href="sicon.png">
  <!-- <link href=""> add stylesheet source -->
  <script src="../Controller/minesweeperJS.js"></script>
</head>
<body>
  <div class="headingBar">
    <div class="timerBox"></div>
    <div class="buttonSmiley"></div>
    <div class="mineCountBox"></div>
  </div>

  <div class="mineField"></div>
</body>
</html>