<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Minesweeper - Sam Gay</title>
  <link rel="icon" type="image/gif/png" href="sicon.png">
  <link href="./minesweeper.css" rel="stylesheet">
  <script src="../Controller/minesweeperJS.js"></script>
</head>
<body onload="buildMineField()">
  <h1>Minesweeper</h1>
  <div class="gameBoard">
    <div class="headingBar">
      <div class="timerBox"></div>
      <div class="buttonSmiley"></div>
      <div class="mineCountBox"></div>
    </div> <!--end headingBar-->
    <div id="mineField" class="mineField">
      <!-- divs here created dynamicaly -->
    </div><!-- end tiles -->
  </div><!-- end gameBoard -->
  
</body>
</html>